[data-testid=metric-container] {
        box-shadow: 0 0 4px #c9d6d6;
        padding: 10px;
    }
    
    .plot-container>div {
        box-shadow: 0 0 4px #071021;
        padding: 10px;
         
        
       
    }
    
    div[data-testid="stExpander"] div[role="button"] p
    {
        font-size: 1.3rem;
         
    }
    div[data-testid="stDataframe"] div[role="button"] p {
        font-size: 1.3rem;
        color: rgb(1, 84, 84);
    }
